/* src/assets/fonts/fonts.css */
@font-face {
    font-family: 'Avenir';
    src: url('./Avenir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir';
    src: url('./Avenir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }