@import "tailwindcss";


@font-face {
   font-family: 'Avenir';
   src: url('./assets/fonts/Avenir-Regular.woff2') format('woff2'),
        url('./assets/fonts/Avenir-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
 }
 
 body {
   font-family: 'Avenir', sans-serif;
 }





/* tailwindcss utils comes here */
/* general styling and media queries also comes here */
